/* WordPress Installed Plugins table. */
table.wp-list-table.plugins th.column-translation-stats {
	white-space: nowrap;
	width: 20%;
}

table.wp-list-table.plugins td.column-translation-stats {
	padding-right: 20px;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-title {
	display: block;
	font-size: 14px;
	white-space: nowrap;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-title .tstats-update-link {
	float: right;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-title .tstats-update-link button.tstats-update-button {
	box-shadow: none;
	display: none;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-title .tstats-update-link button.tstats-update-button span {
	color: #235a28;
	-webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	-moz-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	-o-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-title .tstats-update-link button.tstats-update-button span:hover, table.wp-list-table.plugins td.column-translation-stats .translation-stats-title .tstats-update-link button.tstats-update-button span:focus {
	transform: rotateZ(180deg);
	color: #46b450;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats {
	display: grid;
	grid-row-gap: 6px;
	padding: 6px;
	margin: 0 0 10px 0;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject .subproject-bar {
	display: block;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0);
	white-space: nowrap;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject .subproject-bar .subproject-bar__percentage {
	display: inline-block;
	font-weight: 700;
	text-align: right;
	width: 32px;
	margin-right: 10px;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div .subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject .disabled,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject .disabled .subproject-bar {
	border-radius: 3px;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a {
	display: block;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled div.subproject {
	color: #000;
	text-shadow: 0 0 6px rgba(255, 255, 225, 0.5);
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.disabled div.subproject {
	background-color: #ddd;
	color: #8f98a1;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent100 {
	background-color: #46b450;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent100 .subproject-bar {
	color: #fff;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent90 {
	background-color: #6bc373;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent80 {
	background-color: #90d296;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent70 {
	background-color: #b5e1b9;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent60 {
	background-color: #c7e8ca;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent50 {
	background-color: #ffe399;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent40 {
	background-color: #fbc5a9;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent30 {
	background-color: #f1adad;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent20 {
	background-color: #ea8484;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent10 {
	background-color: #e35b5b;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent0 {
	background-color: #dc3232;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:hover,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:focus,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.disabled div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:hover div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.disabled:hover div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:focus div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.disabled:focus div,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent0,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:hover div.percent0,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:focus div.percent0,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a div.percent100,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:hover div.percent100,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:focus div.percent100,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled div .subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.disabled div .subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:hover div .subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a:focus div .subproject-bar {
	-webkit-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	-moz-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	-o-transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:hover div.subproject,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:focus div.subproject {
	width: 100%;
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:hover div.subproject div.subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:focus div.subproject div.subproject-bar {
	background-color: rgba(255, 255, 255, 0.2);
}

table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:hover div.percent0 .subproject-bar,
table.wp-list-table.plugins td.column-translation-stats .translation-stats-content .translation-stats-content-stats .content__subproject a.enabled:focus div.percent0 .subproject-bar {
	color: #fff;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

table.wp-list-table.plugins td.column-translation-stats.tstats-loading .translation-stats-content .translation-stats-content-stats div a div.subproject {
	background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 20px);
	background-size: 28px 28px;
	animation: tstats_bar_loading 0.5s linear infinite;
}

@keyframes tstats_bar_loading {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 28px 0;
	}
}

/* Translation Stats Settings Plugins table. */
table.tstats-plugin-list-table .check-column {
	padding-top: 0;
	padding-bottom: 0;
}

table.tstats-plugin-list-table input[type="checkbox"],
table.tstats-plugin-list-table input[type="radio"] {
	vertical-align: text-top;
}

table.tstats-plugin-list-table input[type="checkbox"][disabled] {
	pointer-events: none;
}

table.tstats-plugin-list-table thead .column-subproject {
	width: 10em;
	overflow: hidden;
	text-align: center;
	vertical-align: text-top;
}

table.tstats-plugin-list-table tbody tr.disabled {
	background-color: #f1f1f1;
}

table.tstats-plugin-list-table tbody tr.disabled th {
	border-left: 4px solid transparent;
}

table.tstats-plugin-list-table tbody tr.disabled .plugin-name {
	padding: 10px 9px;
}

table.tstats-plugin-list-table tbody tr.disabled .plugin-name,
table.tstats-plugin-list-table tbody tr.disabled .plugin-author,
table.tstats-plugin-list-table tbody tr.disabled .plugin-slug {
	opacity: 0.33;
}

table.tstats-plugin-list-table tbody tr .check-column input[type="checkbox"] {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
}

table.tstats-plugin-list-table tbody tr td .check-column {
	padding: 0 0 0 2px;
}

table.tstats-plugin-list-table tbody tr.active + tr.inactive td,
table.tstats-plugin-list-table tbody tr.active + tr.inactive th,
table.tstats-plugin-list-table tbody tr.active + tr.disabled td,
table.tstats-plugin-list-table tbody tr.active + tr.disabled th {
	border-top: 0 solid;
}

table.tstats-plugin-list-table tbody .check-column.plugin-subproject {
	vertical-align: middle;
	text-align: center;
}

table.tstats-plugin-list-table tbody .check-column.plugin-select {
	vertical-align: middle;
	padding: 0 0 0 2px;
}

table.tstats-plugin-list-table tbody .inactive .check-column.plugin-select {
	vertical-align: middle;
	padding: 0 0 0 6px;
}

/* Translation Stats Settings Layout. */
.tstats-settings-wrapper {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 992px) {

	.tstats-settings-wrapper {
		flex-wrap: nowrap;
	}
}

.tstats-settings-wrapper .tstats-settings__content {
	width: 100%;
}

.tstats-settings-wrapper .tstats-settings__content .nav-tab-wrapper a.nav-tab span.dashicons {
	color: #235a28;
	vertical-align: text-top;
}

.tstats-settings-wrapper .tstats-settings__content .nav-tab-wrapper a.nav-tab-active span.dashicons,
.tstats-settings-wrapper .tstats-settings__content .nav-tab-wrapper a.nav-tab:hover span.dashicons,
.tstats-settings-wrapper .tstats-settings__content .nav-tab-wrapper a.nav-tab:focus span.dashicons {
	color: #46b450;
}

@media (min-width: 992px) {

	.tstats-settings-wrapper .tstats-settings__content {
		order: 1;
	}
}

.tstats-settings-wrapper .tstats-settings__sidebar {
	width: 100%;
	padding: 0;
}

@media (min-width: 992px) {

	.tstats-settings-wrapper .tstats-settings__sidebar {
		width: 280px;
		padding-left: 20px;
		order: 2;
	}
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox {
	border-radius: 4px;
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox .inside h3 {
	margin: 30px 0 0;
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox .inside a {
	text-decoration: none;
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox .inside .tstats-logo a.tstats-logo-link {
	display: block;
	width: 100%;
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox .inside .tstats-logo a.tstats-logo-link div.tstats-logo-image {
	margin: auto;
	background-image: url(../img/logo-color-transparent.svg);
	background-position: center;
	background-size: contain;
	height: 120px;
	background-repeat: no-repeat;
}

.tstats-settings-wrapper .tstats-settings__sidebar .postbox .footer {
	padding: 10px;
}

.tstats-settings-wrapper .tstats-settings__sidebar .paper-shadow {
	position: relative;
}

.tstats-settings-wrapper .tstats-settings__sidebar .paper-shadow::before,
.tstats-settings-wrapper .tstats-settings__sidebar .paper-shadow::after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 1em;
	width: 50%;
	top: 80%;
	background: #777;
	box-shadow: 0 1em 0.5em #777;
}

.tstats-settings-wrapper .tstats-settings__sidebar .paper-shadow::before {
	transform: rotate(-3deg);
	left: 0.5em;
}

.tstats-settings-wrapper .tstats-settings__sidebar .paper-shadow::after {
	transform: rotate(3deg);
	right: 0.5em;
}

.tstats-code-block {
	display: inline-block;
}

.tstats-code-block .dashicons-yes {
	color: #008000;
}

.tstats-code-block .dashicons-no {
	color: #f00;
}

.tstats-debug-block {
	display: inline-block;
}
