{
  "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
  "globals": {
    "jQuery": true
  },
  "rules": {
    "no-redeclare": "warn",
    "no-var": "warn",
    "no-console": "off",
    "no-undef": "warn",
    "no-unused-vars": "warn"
  }
}
