# Exclude files from export
/.github            export-ignore
/.wordpress-org     export-ignore
/assets             export-ignore
.distignore         export-ignore
.editorconfig       export-ignore
.eslintignore       export-ignore
.eslintrc.json      export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
.remarkrc.json      export-ignore
.stylelintrc.json   export-ignore
composer.json       export-ignore
composer.lock       export-ignore
package-lock.json   export-ignore
package.json        export-ignore
phpcompat.xml       export-ignore
phpcs.xml           export-ignore
phpstan.neon        export-ignore
README.md           export-ignore
