includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- translation-stats.php
		- uninstall.php
		- includes/
		- assets/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
	ignoreErrors:
		# GlotPress locales file.
		-
			path: assets/lib/locales/locales.php
			message: '#typehint specified\.$#'
			count: 35
	# TODO Tell PHPStan what is inside arrays.
	checkMissingIterableValueType: false
