parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- translation-stats.php
		- uninstall.php
		- includes/
		- assets/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
	excludePaths:
		analyse:
			# GlotPress Locales file.
			- assets/lib/locales/locales.php
	# TODO Tell PHPStan what is inside arrays.
	checkMissingIterableValueType: false
