name: Plugin Asset/Readme Update

on:
  push:
    branches:
    - master
    paths:
      # Any change on the WordPress.org plugin repository-specific assets that belong in the top-level assets directory.
      - '.wordpress-org'
      # The readme.txt.
      - 'readme.txt'
      # Changes to workflow files should always verify all workflows are successful.
      - '.github/workflows/*.yml'
  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  trunk:
    name: Push to trunk
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.3.4

    - name: WordPress.org Plugin Readme/Assets Update
      uses: 10up/action-wordpress-plugin-asset-update@1.4.1
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: translation-stats
